<button i18n [@buttonSize]=clickType (click)="handleClick()"> {{hide}} Settings</button>
<div *ngIf="clicked">
  <h1>{{ title | translate}}</h1>
  <div class="noMargin">
    <h2 i18n> Theme </h2>
    <div *ngFor="let item of items; let i = index">
      <label>
        <input
          type="radio"
          name="optionsGroup"
          [value]="item.value"
          (change)="optionChange(item.value)"
        />
        {{ i + 1 }} - {{ item.label}}
      </label>
    </div>
    <h2 i18n> Weather </h2>
      <label i18n>postcode: 
        <input type="text" [(ngModel)]="apiService.postcode" (change)="apiService.weatherService" />
      </label>
    <h2 i18n> Other Links </h2>
    <a i18n [routerLink]="'/' + opposite">Switch to {{opposite | translate}}</a>
  </div>
</div>
